<footer class="footer">
    <div class="footer-content">
      <div class="footer-section contact-info">
        <h4>Contact</h4>
        <p>Adresse: Chemin de Maillefer 37 <br> 1052 Le Mont-sur-Lausanne, Switzerland</p>
        <p>E-mail: wallconstructionsuisse&#64;gmail.com</p>
        <p>Téléphone: +41 79 625 18 52</p>
        <p>Téléphone: +41 79 510 43 52</p>
      </div>
      <div class="footer-section copyright">
        <p>&copy; 2024 WALL Construction & Ingenierie WA Sàrl. All rights reserved.</p>
        <p>Designed by [n]dB</p>
      </div>
    </div>
  </footer>
  