<div class="who-we-are-container">

  <div class="text-container">
    <h3 class="whoWeAre-title">Qui sommes-nous?</h3>

    <p>
      Notre entreprise, fondée sur des valeurs fortes de qualité et d'intégrité, 
      est leader dans le domaine du génie civil en Suisse romande. Depuis plusieurs années, 
      nous nous engageons à proposer des solutions innovantes et durables, 
      adaptées aux besoins spécifiques de nos clients. Avec une équipe d’experts dédiés, 
      nous avons réalisé des projets variés allant des infrastructures urbaines 
      aux constructions industrielles complexes. Chaque projet est pour nous l'occasion 
      de démontrer notre engagement envers l'excellence et de contribuer au développement 
      durable de notre région.
    </p>
  </div>
  <div class="image-container">
    <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724345263/Wall/WhoWeAre/th21k46v3wfsi4kbgr10.png" alt="Maison Wall">
  </div>
</div>

<!-- Nueva franja con los tres datos -->
<div class="data-strip">
  <div class="data-item">
    <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724414173/Wall/WhoWeAre/wwjbjgavnmeg9gjehjqw.png" alt="Empleados" class="data-icon">
    <p>50+ Employés</p>
  </div>
  <div class="data-item">
    <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724414269/Wall/WhoWeAre/il1xogz4x7ds32rjgcgv.png" alt="Cement" class="data-icon">
    <p>7000+ Tonnes de Ciment par An</p>
  </div>
  <div class="data-item">
    <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724414416/Wall/WhoWeAre/ulbooaxfckfvqqxrdcx9.png" alt="Cities" class="data-icon">
    <p>8+ Villes</p>
  </div>
</div>
