<div class="services-container">
    <h3 class="services-title">Services</h3>
    <div class="services-grid">
        <div class="service-item">
            <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724431294/Wall/services/y6yk5dt9qc3icdht8kjv.jpg" alt="Casas">
            <p class="service-label">Villas</p>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724431294/Wall/services/xch3hybqdmxm6t4ycldl.jpg" alt="routes et tunnels">
            <p class="service-label">Routes et tunnels</p>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724431293/Wall/services/iin6r70uy7msjc0ohshj.jpg" alt="calculs de structure">
            <p class="service-label">Calculs de structure</p>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724431294/Wall/services/rzyrpuvhlwti4heqrwdf.jpg" alt="Bâtiments">
            <p class="service-label">Bâtiments</p>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724431958/Wall/services/rp3bvppdubrmmo6crk6t.jpg" alt="Piscines">
            <p class="service-label">Piscines</p>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724432176/Wall/services/aj4rzjqpsdbl8bodw77c.jpg" alt="Carrelage">
            <p class="service-label">Pose du carrelage</p>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1724432689/Wall/services/ykxs4smfdpt9lndplx6l.jpg" alt="platelages et barrières">
            <p class="service-label">Platelages et barrières</p>
        </div>
        <!-- Agrega más elementos de servicio aquí -->
    </div>
</div>
